import public-site.caddy

pulsyr.dev {
    import public_site_policy
}

www.pulsyr.dev {
    redir https://pulsyr.dev{uri} permanent
}

app.pulsyr.dev {
    encode zstd gzip
    reverse_proxy 127.0.0.1:8000
}
